.card {
  width: 200px;
  height: 300px;
  border: 3px solid black;
  border-radius: 0.3em;
  margin: 10px;
  list-style: none;
  display: inline-block;
  font-family: monospace;
  font-size: 1.5em;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
/* button:active{
    color: white;
   
} */
.color-code {
  border: 3px solid black;
  border-radius: 0.3em;
  display: inline;
  padding: 0.3em;
  background-color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
}
.grid-container {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.close-button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
}
/* .close-button--white{
    color: white;
} */

